body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative; /* Add this line */
    padding-top: 70px;
}

.banner {
    background-color: #f8f9fa;
    color: #212529;
    padding: 20px 0;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    position: fixed; /* Add this line */
    top: 0; /* Add this line */
    width: 100%; /* Add this line */
    z-index: 1000; /* Add this line to make sure the banner is on top of other elements */
}

.gallery img {
    max-width: 200px;
    object-fit: cover;
    cursor: pointer;
    height: auto;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    max-width: 1800px;
    max-height: 80%;
    height: auto;
}

.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 75px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: fixed; /* Add this line */
    z-index: 1000; /* Add this line to make sure the navigation is on top of other elements */
    top: 70px; /* Add this line */
    width: 100%; /* Add this line */
}

.nav-button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 0 10px;
    font-size: 20px;
}

.image-nav-button {
    position: absolute;
    top: 50%;
    font-size: 2em;
    background: none;
    border: none;
    color: white;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.image-nav-button:hover {
    opacity: 1;
}

#prevImage {
    left: 10px;
}

#nextImage {
    right: 10px;
}